
.gradle
/build/

!gradle/wrapper/gradle-wrapper.jar

out

*.class


.scannerwork


.apt_generated

.classpath

.factorypath

.project

.settings

.springBeans




.idea
*.iws
*.iml
*.ipr

# Temporary files
*.swp
*~.nib
*.tmp
*.bak
*.old
*.orig
*.rej
*.sublime-workspace

# IDEs
*.idea/
.idea/
.DS_Store
*.class
*.log
*.iml
*.ipr
*.iws



nbproject/private/

build/

nbbuild/

dist/

nbdist/

.nb-gradle/